{
  "env": {
    "browser": true
  },
  "extends": [
    "eslint-config-semistandard",
    "plugin:react/recommended"
  ],
  "rules": {
    "camelcase": "off",
    "react/prop-types": "off",
    "comma-dangle": ["error", "always-multiline"],
    "import/no-webpack-loader-syntax": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
